<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Lol @ Pitt OLS</title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        
    </head>
    <body>
        {{template "navbar" .}}
        <div class="container col-lg-12" style="text-align:center;">
        <form action="/fuck/smeg/count" method="GET">
             <input type="submit" value="Fuck Smegs" class="btn btn-success btn-large" />
            <h1> This button has been pressed {{.}} times.</h1>
            <h2> Every time you press this button, this happens: </h2>
            <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10941829_10200195552607254_1320798792134607657_n.jpg?oh=bf050e44fa2886947c34950a5740d8a6&oe=5565AA55&__gda__=1432730691_086500f0364701a203196e165e2dd7cf">

        </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
    </body>
</html>
