<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Lol @ Pitt OLS</title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        
    </head>
    <body>
        {{template "navbar" .}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
    </body>
</html>
