<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Lol @ Pitt OLS</title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
        <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">
            <style>
             label {
                 color: white;
             }

             .derp {
                 background-color:#495E6C;
             }
    
             tbody{
                 overflow-y: scroll;      
             }
             .even, .odd {
                 color: black;
             
             }
             .table-striped>tbody>tr:nth-child(odd) {
                 background-color: #E4E4E4;
             }
             thead {
                 background-color: #375A7F;
                 color: white;
             }
            </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
        <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">

$(document).ready(function() {
    $('#table').dataTable( {
        "scrollY":        "600px",
        "scrollCollapse": true,
        "paging":         false
    } );
} );
        </script>
    </head>
    <body>
        {{template "navbar" .}}
        <table id="table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Division</th>
                    <th>Team</th>
                    <th>Summoner</th>
                    <th>KDA</th>
                    <th>Total Kills</th>
                    <th>Total Deaths</th>
                    <th>Total Assists</th>
                    <th>Total Gold</th>
                    <th>Kills Per Game</th>
                    <th>Assists Per Game</th>
                    <th>Deaths Per Game</th>
                    <th>Games Played</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>{{.Division}}</td>
                    <td>{{.Team}}</td>
                    <td>{{.Summoner}}</td>
                    <td>{{.KDA}}</td>
                    <td>{{.TotalKills}}</td>
                    <td>{{.TotalDeaths}}</td>
                    <td>{{.TotalAssists}}</td>
                    <td>{{.TotalGold}}</td>
                    <td>{{.KillsPerGame}}</td>
                    <td>{{.AssistsPerGame}}</td>
                    <td>{{.DeathsPerGame}}</td>
                    <td>{{.GamesPlayed}}</td>

                </tr>
                {{end}}
            </tbody>
        </table>
    </body>
</html>
