<!doctype html>
<html lang="en">
  <head>
    <link href="/public/css/team.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>{{.Name}}</title>
  </head>
  <body>
    <div class="players">
      <div class="teamname">{{.Name}}</div>
      <div class="captain">
        <span class="ign">{{.Captain.Ign}}</span>
        <span>{{.Name}}</span>
        <span class="tier"><a href="https://lolking.net/summoner/na/{{.Captain.Id}}">{{.Captain.Tier}}</a></span>
      </div>
	</div>
      {{range .Players}}
      {{if .Captain}}
     {{else}}
       <div class="player">
        <span class="ign">{{.Ign}}</span>
        <span>{{.Name}}</span>
        <span class="tier"><a href="https://lolking.net/summoner/na/{{.Id}}">{{.Tier}}</a></span>
      </div>
       {{end}}

      {{end}}
      <div>
  </body>
</html>
