<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
  </head>
  <body>
    <h1>{{.Name}}: Captain: {{.Captain.Name}}</h1>
    <div>
      {{range .Players}}
      <div>
        <span>Player {{.Name}} </span>
        <span>  IGN: {{.Ign}}</span>
        <span><a href="https://lolking.net/summoner/na/{{.Id}}">{{.Score}}</a></span>
        <div class="roles">
          {{range .Roles}}
          <span class="role">{{.}}</span>
          {{end}}
        </div>
        <span class="tier">{{.Tier}}</span>
      </div>
      {{end}}
      <div>
  </body>
</html>
