<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link href="/public/css/lol.css" rel="stylesheet"/>
    <title>Teams</title>
  </head>
  <body>
    <div class="navbar">
      <h1 class="nav_title">Open League Series</h1>
      <div class="navbar_links">
        <a href="/teams">Teams</a>
      </div>
    </div>
    <div class="teams_container">
      <div class="team">
        {{range .}}
            Team: {{.Name}}
        {{end}}
      </div>
    </div>
    
  </body>
</html>
